.header {
  // background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
  // background-position: top;
  // background-size: cover;
  background-color: black;
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;

  &__logo-div {
  margin: 0 3rem;
  }


}