@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem); }
  100% {
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    transform: translateX(-10rem); }
  100% {
    transform: translate(0); } }

@keyframes shrinkInSub {
  0% {
    transform: translateX(10%);
    letter-spacing: 1.2em; }
  100% {
    transform: translateX(0);
    letter-spacing: 0.9rem; } }

@keyframes shrinkInMain {
  0% {
    transform: translateX(10%);
    letter-spacing: 4rem; }
  100% {
    transform: translateX(0);
    letter-spacing: 3rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

input {
  all: unset; }

input, textarea {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  line-height: 1.7; }

.header__logo-text {
  font-size: 2.5rem;
  transform: scale(1, 1.3);
  font-family: 'Architects Daughter', cursive;
  font-weight: 900; }
  .header__logo-text--char1 {
    color: #ff7ad9; }
  .header__logo-text--char2 {
    color: #c684ee; }
  .header__logo-text--char3 {
    background: -webkit-linear-gradient(to bottom, #ff7ad9, #c684ee, #81fff7, #96ff7c);
    background: linear-gradient(to bottom, #ff7ad9, #c684ee, #81fff7, #96ff7c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .header__logo-text--char4 {
    color: #81fff7; }
  .header__logo-text--char5 {
    color: #96ff7c; }

.heading-primary {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .heading-primary--main {
    display: block;
    font-size: 11rem;
    letter-spacing: 3rem;
    line-height: 9rem;
    margin: 3rem 0;
    width: fit-content;
    font-family: 'Architects Daughter', cursive;
    background: -webkit-linear-gradient(to right, #ff7ad9, #c684ee, #81fff7, #96ff7c);
    background: linear-gradient(to right, #ff7ad9, #c684ee, #81fff7, #96ff7c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 0.9rem;
    font-family: 'Blinker', sans-serif;
    font-weight: 400;
    width: fit-content;
    background: -webkit-linear-gradient(to right, #ff7ad9, #c684ee, #81fff7, #96ff7c);
    background: linear-gradient(to right, #ff7ad9, #c684ee, #81fff7, #96ff7c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.heading-secondary {
  font-family: 'Architects Daughter', cursive;
  font-size: 5rem; }
  .heading-secondary--about-me {
    color: #ff7ad9; }
  .heading-secondary--projects {
    color: #c684ee; }
  .heading-secondary--skills {
    color: #81fff7; }
  .heading-secondary--contact {
    color: #96ff7c; }

.heading-section-content {
  font-family: 'Architects Daughter', cursive;
  width: fit-content; }
  .heading-section-content--about-me {
    color: #ff7ad9;
    font-size: clamp(3.5rem, 2.2vw, 4rem); }
  .heading-section-content--project-card {
    font-size: clamp(4rem, 2.5vw, 5rem);
    color: #c684ee;
    text-align: center; }
  .heading-section-content--skills {
    font-family: 'Architects Daughter', cursive;
    color: #81fff7;
    font-size: clamp(2rem, 1.5vw, 3rem); }

.section-content-text {
  text-indent: 3rem;
  font-family: 'Blinker', sans-serif;
  font-weight: 500;
  color: #505050;
  line-height: 3.2rem; }
  .section-content-text--about-me {
    font-size: clamp(2.25rem, 0.83vw, 10rem); }

.project-card--text-div {
  font-size: 2rem;
  font-family: 'Blinker', sans-serif;
  font-weight: 500;
  color: #505050;
  line-height: 3.2rem; }

.form-text {
  font-size: 2rem;
  font-weight: 300;
  color: #505050; }

.message-input--text {
  font-size: 2rem;
  font-family: 'Maven Pro', sans-serif;
  color: #505050;
  font-weight: 300; }

@media (max-width: 800px) {
  .heading-primary--main {
    font-size: 9rem;
    letter-spacing: 2.5rem;
    line-height: 8rem; }
  --sub {
    font-size: 2rem;
    line-height: 1.8rem;
    letter-spacing: 0.8rem; } }

@media (max-width: 600px) {
  .heading-primary--main {
    font-size: 7rem;
    letter-spacing: 2rem;
    line-height: 6rem; }
  --sub {
    font-size: 1.7rem;
    line-height: 1.5rem;
    letter-spacing: 0.6rem; } }

@media (max-width: 450px) {
  .heading-primary--main {
    font-size: 5.7rem;
    letter-spacing: 1.5rem;
    line-height: 5.5rem; }
  --sub {
    font-size: 1.3rem;
    line-height: 1.2rem;
    letter-spacing: 0.5rem; } }

@media (max-width: 350px) {
  .heading-primary--main {
    font-size: 4.7rem;
    letter-spacing: 1rem;
    line-height: 5.5rem; }
  --sub {
    font-size: 0.7rem;
    line-height: 1.2rem;
    letter-spacing: 0.3rem; } }

.btn {
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.9rem;
  font-weight: 600;
  text-align: center; }
  .btn:link, .btn:visited {
    text-decoration: none; }
  .btn--main {
    width: 25rem;
    background-color: white;
    margin: 1.5vw 0;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.3rem; }
    .btn--main:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn--main:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--about-me {
    color: #ff7ad9;
    border: 0.5rem solid #ff7ad9; }
    .btn--about-me:hover {
      background-color: #ff7ad9;
      color: white;
      font-weight: 700; }
  .btn--projects {
    color: #c684ee;
    border: 0.5rem solid #c684ee; }
    .btn--projects:hover {
      background-color: #c684ee;
      color: white;
      font-weight: 700; }
  .btn--skills {
    color: #81fff7;
    border: 0.5rem solid #81fff7; }
    .btn--skills:hover {
      background-color: #81fff7;
      color: white;
      font-weight: 700; }
  .btn--contact, .btn--send {
    color: #96ff7c;
    border: 0.5rem solid #96ff7c; }
    .btn--contact:hover, .btn--send:hover {
      background-color: #96ff7c;
      color: white;
      font-weight: 700; }

@media (max-width: 800px) {
  .btn:link, .btn:visited {
    font-size: 1.7rem; }
  .btn--main {
    width: 22rem;
    letter-spacing: 0.3rem; } }

@media (max-width: 800px) {
  .btn:link, .btn:visited {
    font-size: 1.5rem; }
  .btn--main {
    width: 20rem;
    letter-spacing: 0.2rem; } }

.chevron-background {
  width: fit-content; }

.invisible {
  display: none; }

.contact-form-div {
  margin: 3rem;
  width: clamp(45rem, 75vw, 90rem);
  height: clamp(68rem, 80vh, 200rem);
  background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
  background-position: top;
  background-size: cover;
  border: 2rem solid rgba(0, 0, 0, 0); }

.contact-form {
  background: white;
  padding: 3rem;
  width: clamp(41rem, 74vw, 86rem);
  height: 75vh;
  height: clamp(64rem, 75vh, 200rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.label-input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  width: clamp(30rem, 40vw, 70rem); }

.message-input {
  border-bottom: 0.2rem solid #96ff7c;
  box-shadow: 3px 3px #96ff7c, -1em 0 0.4em #505050;
  width: clamp(30rem, 40vw, 70rem);
  padding: .9rem;
  margin: 0.5rem; }
  .message-input--text-area {
    height: 15rem; }
  .message-input:focus {
    outline: none; }

.project-card {
  width: clamp(40rem, 90vw, 100rem);
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .project-card--title {
    width: clamp(40rem, 90vw, 100rem);
    background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .project-card--project-image {
    width: clamp(40rem, 40vw, 75rem);
    background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
    background-position: top;
    background-size: cover;
    border: 1.2rem solid rgba(255, 255, 255, 0);
    margin: 1rem; }
  .project-card--link-div {
    display: flex;
    flex-direction: row; }
  .project-card--project-link {
    margin: 1rem 2rem; }
  .project-card--github-link {
    margin: 1rem 2rem; }

.project-card-content--outer-div {
  background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
  background-position: top;
  background-size: cover;
  border: 1.2rem solid rgba(255, 255, 255, 0);
  width: clamp(40rem, 90vw, 100rem); }

.project-card-content--inner-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem; }

.header {
  background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
  background-position: top;
  background-size: cover;
  color: white;
  height: 10vh;
  display: flex;
  align-items: center; }
  .header__logo-div {
    margin: 0 3rem; }

.section {
  height: fit-content;
  min-height: 100vh; }

.heading-div {
  background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
  background-position: top;
  background-size: cover;
  padding: 1rem;
  text-align: center; }

.section-content {
  position: relative;
  width: 100vw;
  height: fit-content;
  min-height: 90vh;
  content: ""; }
  .section-content--about-me {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .section-content--projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .section-content--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .section-content--skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }

.color-wedge {
  height: 100%;
  width: 100vw;
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(0 0, 50% 50%, 0 90%); }
  .color-wedge--about-me {
    background-color: #ff7ad9; }
  .color-wedge--projects {
    background-color: #c684ee; }
  .color-wedge--skills {
    background-color: #81fff7; }
  .color-wedge--contact {
    background-color: #96ff7c; }

.section-content-text-div {
  width: 95vw;
  padding: 0 2rem;
  text-align: center; }

.section-content-text-group {
  display: flex;
  flex-direction: column;
  align-items: center; }

.dropdown-heading-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1.5rem 0;
  background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
  background-position: top;
  background-size: cover;
  width: clamp(20rem, 65vw, 60rem); }

.dropdown-text-div {
  margin-bottom: 2rem; }

@media (max-width: 1250px) {
  .section-content--about-me {
    flex-direction: column;
    justify-content: center;
    margin: 5rem 0; } }

@media (max-width: 500px) {
  .color-wedge {
    clip-path: polygon(0 0, 100% 50%, 0 90%);
    height: 100vh; } }

.section-image--prof-pic {
  margin: 0 6rem; }

#profile-pic {
  background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
  background-position: top;
  background-size: cover;
  width: clamp(45rem, 35vw, 50rem);
  border: 1rem solid rgba(172, 165, 165, 0); }

.section-content-text-div {
  height: fit-content; }
  .section-content-text-div--about-me {
    margin: 0 3rem 0 0; }

@media (max-width: 1000px) {
  .section-image--prof-pic {
    margin: 5rem 0; } }

@media (max-width: 500px) {
  #profile-pic {
    width: clamp(24rem, 80vw, 35rem); }
  .section-image--prof-pic {
    margin: 7rem 0 3rem 0; } }

.skills-title {
  width: clamp(40rem, 90vw, 100rem);
  background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem 0 1rem 0; }

.skill-icons-div {
  width: clamp(45rem, 90vw, 100rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.skill-icon-inner-div {
  background-color: white;
  width: fit-content;
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  padding: 0.6rem; }

.skill-icon-outer-div {
  width: fit-content;
  background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
  background-position: top;
  background-size: cover;
  border: 1rem solid rgba(255, 255, 255, 0);
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 4rem; }
  .skill-icon-outer-div:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: 0.2s; }
  .skill-icon-outer-div:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: 0.1s; }

.welcome-screen {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./../assets/images/welcome_background.jpg");
  background-position: center right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.heading-div__welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5rem;
  margin-right: 10vw;
  text-align: center; }

.heading-primary--sub {
  animation: shrinkInSub 1.2s;
  overflow-x: hidden;
  white-space: nowrap; }

.heading-primary--main {
  animation: shrinkInMain 1.2s; }

.btn-div__welcome {
  margin-top: 7vh;
  display: grid;
  grid-template-columns: 30rem 30rem;
  width: fit-content;
  margin-right: 12.5vw; }

@media (max-width: 800px) {
  .welcome-screen {
    align-items: center; }
  .heading-div__welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-right: 0;
    text-align: center; }
  .btn-div__welcome {
    margin: 7vh auto;
    display: grid;
    width: fit-content;
    text-align: center;
    grid-template-columns: 27rem 27rem; } }

@media (max-width: 500px) {
  .btn-div__welcome {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .heading-primary--sub {
    animation: none;
    white-space: unset; } }
