.btn {

  padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position:relative;
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
  &:link, 
  &:visited {
    text-decoration: none;
    
  }

  &--main{
    width: 25rem;
    background-color: white;
    margin: 1.5vw 0;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.3rem;
    
    &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2); 
    } 
  }

  &--about-me{
    color: $color-pink;
    border: 0.5rem solid $color-pink;
    

    &:hover{
      background-color: $color-pink;
      color: white;
      font-weight: 700;

    }
  }

  &--projects{
    color: $color-purple;
    border: 0.5rem solid $color-purple;

    &:hover{
      background-color: $color-purple;
      color: white;
      font-weight: 700;
      
    }
  }

  &--skills{
    color: $color-blue;
    border: 0.5rem solid $color-blue;

    &:hover{
      background-color: $color-blue;
      color: white;
      font-weight: 700;
    }
  }

  &--contact, &--send{
    color: $color-green;
    border: 0.5rem solid $color-green;

    &:hover{
      background-color: $color-green;
      color: white;
      font-weight: 700;
    }
  }


}

@media  (max-width: 800px) {
  .btn {
    &:link, 
    &:visited {
      font-size: 1.7rem;
    }
  
    &--main{
      width: 22rem;
      letter-spacing: 0.3rem;
    }
  }

}

@media  (max-width: 800px) {
  .btn {
    &:link, 
    &:visited {
      font-size: 1.5rem;
    }
  
    &--main{
      width: 20rem;
      letter-spacing: 0.2rem;
    }
  }

}