.invisible {
  display: none;
}

.contact-form-div {
  margin: 3rem;
  width: clamp(45rem, 75vw, 90rem);
  height: clamp(68rem, 80vh, 200rem);
  background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
  background-position: top;
  background-size: cover;
  border: 2rem solid rgba(0, 0, 0, 0);
}

.contact-form {
  background: white;
  padding: 3rem;
  width: clamp(41rem, 74vw, 86rem);
  height: 75vh;
  height: clamp(64rem, 75vh, 200rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  width: clamp(30rem, 40vw, 70rem);
  font-weight: 400;
}

.message-input {
 
  border-bottom: 0.2rem solid $color-green;
  box-shadow: 3px 3px $color-green, -1em 0 .4em $color-light-grey;
  width: clamp(30rem, 40vw, 70rem);
  padding: .9rem;
  margin: 0.5rem;
  

  &--text-area {
    height: 15rem;
  }

  &:focus {
    outline: none;
  } 
}