.project-card {
  width: 100vw;

  &--title {
    width: clamp(20rem, 65vw, 80rem);
    background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
    background-position: top;
    background-size: cover;
  }

  &--project-image {
    width: clamp(40rem, 40vw, 75rem);
    background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
    background-position: top;
    background-size: cover;
    border: 1.2rem solid rgba(255, 255, 255, 0);
  }


}