.section-image--prof-pic {
  margin: 0 6rem;
}

#profile-pic  {
  background-image: url("https://www.backgroundsy.com/file/silver-background.jpg");
  background-position: top;
  background-size: cover;
  width: clamp(45rem, 35vw, 50rem);
  border: 1rem solid rgba(172, 165, 165, 0);
}

.section-content-text-div {
  height: fit-content;
  &--about-me {
    margin: 0 3rem 0 0;
  }
}

@media (max-width: 1000px) {
  .section-image--prof-pic {
    margin: 5rem 0;
  }
}

@media (max-width: 500px) {
  #profile-pic {
    width: clamp(24rem, 80vw, 35rem)
  }

  .section-image--prof-pic {
    margin: 7rem 0 3rem 0;
  }
}
