
// font-family: 'Abel', sans-serif;
// font-family: 'Alegreya Sans SC', sans-serif;
// font-family: 'Annie Use Your Telescope', cursive;
// font-family: 'Architects Daughter', cursive;
// font-family: 'Blinker', sans-serif;
// font-family: 'Cantarell', sans-serif;
// font-family: 'Comfortaa', cursive;
// font-family: 'Darker Grotesque', sans-serif;
// font-family: 'Forum', cursive;
// font-family: 'Gayathri', sans-serif;
// font-family: 'Glegoo', serif;
// font-family: 'Gugi', cursive;
// font-family: 'Harmattan', sans-serif;
// font-family: 'IBM Plex Sans Thai Looped', sans-serif;
// font-family: 'Kreon', serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Maitree', serif;
// font-family: 'Mate SC', serif;
// font-family: 'Maven Pro', sans-serif;
// font-family: 'Michroma', sans-serif;
// font-family: 'News Cycle', sans-serif;
// font-family: 'Niramit', sans-serif;
// font-family: 'Orbitron', sans-serif;
// font-family: 'Overpass Mono', monospace;
// font-family: 'Play', sans-serif;
// font-family: 'Prompt', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Saira Extra Condensed', sans-serif;
// font-family: 'Share Tech', sans-serif;
// font-family: 'Special Elite', cursive;
// font-family: 'Spinnaker', sans-serif;
// font-family: 'Trirong', serif;
// font-family: 'Turret Road', cursive;

body {
  // font-family: "Lato", sans-serif;
  font-family: 'Raleway', sans-serif;

  font-weight: 300;
  line-height: 1.7;
}

.header {
  &__logo-text {
    color: white;
    font-size: 1.8rem;
    // font-family: 'Raleway', sans-serif;
    font-family: 'Maitree', serif;
    font-weight: 800;

  }
}

.heading-primary {
  width: fit-content;

  background: -webkit-linear-gradient(to right, $color-pink, $color-purple, $color-blue, $color-green);
  background: linear-gradient(to right, $color-pink, $color-purple, $color-blue, $color-green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &--main {
    display: block;
    font-size: 11rem;
    letter-spacing: 3rem;
    line-height: 9rem;
    margin: 3rem 0;
    // font-family: 'Alegreya Sans SC', sans-serif;
    // font-family: 'Niramit', sans-serif;
    // font-family: 'Prompt', sans-serif;
    font-family: 'Maitree', serif;
  
  }

  &--sub {
    display: block;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 0.9rem;
    font-family: 'Blinker', sans-serif;
    font-weight: 400;
  }
}

